* {
    box-sizing: border-box;
}
body {
    margin: 0;  
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100vh;
}

#menu-icon {
    cursor: pointer;
    background-color: aquamarine;
}

#nav-overlay {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.3);
}

nav {
    background-color: #D9D9D9;
    height: 100%;
    width: 32ch;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 16px 16px;
}

nav ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-icon {
    height: 32px;
    width: 32px;
}

#icon-dashboard {   
    background: url("icons/dashboard_icon.svg");
}

#icon-submissions {
    background: url("icons/file_upload_icon.svg");
}

#icon-settings {
    background: url("icons/settings_icon.svg");
}

#icon-music_library {
    background: url("icons/music_playlist_icon.svg");
}

#icon-artists {
    background: url("icons/artist_icon.svg");
}
#icon-faq {
    background: url("icons/q&a_icon.svg");
}
#icon-contact {
    background: url("icons/message_icon.svg");
}
#icon-about {
    background: url("icons/info_icon.svg");
}
#icon-logout {
    background: url("icons/logout_icon.svg");
}

main {
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

/* SPEX DASHBOARD */
#spex-dashboard {
    height: 100%;
    max-height: 100%;

    background-color: #F2F2F2;
    padding: 16px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 3fr;
    grid-template-areas: 
    "dashboard-header-left dashboard-header-right"
    "dashboard-center-left dashboard-center-right"
    "dashboard-bottom-left dashboard-bottom-right";

    gap: 16px;
}

#dashboard-header-left {
    grid-area: dashboard-header-left;

}

#dashboard-header-right {
    grid-area: dashboard-header-right;

}

#dashboard-center-left {
    grid-area: dashboard-center-left;

}

#dashboard-center-right {
    grid-area: dashboard-center-right;

}

#dashboard-bottom-left {
    grid-area: dashboard-bottom-left;

}

#dashboard-bottom-right {
    grid-area: dashboard-bottom-right;

}